@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: Outfit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    position: relative;
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.ac::before,
.menu a::before {
    content: "";
    position: absolute;
    background-color: rgba(104, 252, 252, 0.74);
    height: 2px;
    width: 0;
    bottom: -2px;
    transition: 0.3s;
}

.ac:before,
.menu a:hover:before {
    width: 100%;
}

.ac,
.menu a:hover {
    color: rgb(68, 16, 255);
}


body {
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid black;
}

.navbar {
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    padding: 15px;

}

.menu ul {
    display: flex;

    li {
        list-style: none;
        padding: 0 20px;
    }
}

.main {
    display: flex;
    border-top: 1px solid black;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 3rem;
        color: rgba(137, 255, 255, 0.5);
    }

    p {
        font-size: 1rem;
    }


}


.main-2 {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 1fr;


}

.main-2 .left {
    display: block;

    /* border: 1px solid black; */
    h1 {
        padding: 15px 10px;
    }

    li {
        list-style: none;
        padding: 10px 0 10px 40px;
        /* border-bottom: 1px solid black; */
    }
}

.main-2 .center {

    border-left: 1px solid black;
    border-right: 1px solid black;

    h1 {
        padding: 20px;
        text-align: center;
    }

    .text {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        padding: 20px;
        border-top: 1px solid black;

        a {
            color: brown;
            margin-left: 20px;
        }
    }

}

.main-2 .right {
    padding: 15px 20px;

    p {
        padding: 5px;
    }

    li {
        list-style: " - ";
        padding: 0 20px;
    }
}

.main-3 {
    display: block;
    padding: 20px 40px;

    /* border: 1px solid black; */
    h1 {
        padding-bottom: 20px;
    }

    h3 {
        color: gray;
        margin-top: 20px;
    }
}

.main-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.box {
    width: 250px;
    max-width: 100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
}

footer {
    text-align: center;
    margin: 40px 0;
}


/* Project */
.container {
    text-align: center;
    margin: 20px;
    /* border: 1px solid; */
}

.content {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.card {
    /* border: 1px solid; */
    color: rgb(182, 182, 182);
    display: block;
    justify-content: center;
    padding: 5px;
    text-align: start;
    user-select: none;
    text-align: center;
    transition: 0.3s;

    p {
        font-size: 14px;
        text-align: start;
    }

    h3 {
        margin: 20px 0;
    }
}

.card:hover {
    transform: scale(1.2);
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.card .img {
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 20px auto;
}



/* articles */

.articles {
    text-align: center;
    margin: 20px;
    a:hover{
        color: rgb(150, 112, 255);
        transition: 0.3s;
    }

    li {
        list-style: none;
    }

    h2 {
        padding: 20px;
    }
}





/* contact */

.c-1 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.contact {
    width: 600px;
    text-align: center;
    padding: 30px 20px 20px 20px;
    margin: 20px 20px;
    border-radius: 30px;
    border: 1px solid rgb(44, 44, 44);;
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.377);

    .btn {
        padding: 20px;

        a {
            font-size: 13px;
            color: rgb(248, 248, 248);
            background-color: rgb(44, 44, 44);
            border-radius: 10px;
            padding: 8px 20px;

        }
        a:hover{
            color: rgb(44, 44, 44);
            background-color: rgb(248, 248, 248);
            transition: 0.3s;
        }
    }

    .line{
        margin: auto;
        height: 10px;
        width: 100px;
        background-color: rgba(44, 44, 44, 0.678);
        border-radius: 13px;
        margin-bottom: 5px;
    }

    .con-2 {
        p {
            font-size: 12px;
        }
    }

    .np {
        input,textarea {
            display: block;
            width: 60%;
            margin: 10px auto;
            border-radius: 5px;
            border: 1px solid rgb(44, 44, 44);
            padding: 5px;
        }
    }

    #text {
        height: 100px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgb(44, 44, 44);
    }
    .icon a{
        padding: 5px 7px;
        
    }

    .icon a:hover{
        color: rgba(10, 7, 182, 0.5);
        transition: 0.3s;

    }
}








































@media (max-width: 640px) {
    body {
        border: 0;
    }

    .navbar {
        display: block;

        .menu {
            /* border: 1px solid blue; */
            justify-items: center;
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .main-2 {
        grid-template-columns: 1fr;

        .left {
            padding: 0;
            text-align: center;

            li {
                border-bottom: 1px solid black;
                padding: 10px 0 10px 0px;
                
            }
            
        }

    }

    .main-2 .center {
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid black;

        div {
            padding: 0 20px 10px 20px;
        }

        h1 {
            padding: 20px 0 20px 0;
            text-align: center;

        }
    }

    .main-box {
        grid-template-columns: repeat(1, 1fr);
        /* border: 1px solid black; */
        padding: 20px;
        justify-items: center;

    }

    .content {
        grid-template-columns: 1fr;

    }

    .card {
        color: black;
    }

}